In [1]:
from pathlib import Path

In [3]:
from pathlib import Path, PurePath, PosixPath

In [5]:
isinstance(test, PosixPath)

True

In [2]:
test = Path('./')
print(type(test))

<class 'pathlib.PosixPath'>

In [1]:
import geopandas as gpd

In [3]:
file1 = '/Users/karthikv/Desktop/workspace/my-repositories/rfs-and-cnns/data/shapefiles/training_data/training_data.shp'
file2 = '/Users/karthikv/Desktop/workspace/my-repositories/rfs-and-cnns/data/shapefiles/training_data/training_data2.shp'

df1 = gpd.read_file(file1)
df2 = gpd.read_file(file2)

In [4]:
df1.head()

   id        name                                           geometry
0   0       tahoe  POLYGON ((-120.29751 38.93464, -119.76223 40.1...
1   1   puget_snd  POLYGON ((-122.96488 46.92394, -122.96488 47.4...
2   2   yukon_rvr  POLYGON ((-148.43430 66.16969, -148.43430 66.4...
3   3  atchafalay  POLYGON ((-91.48633 29.44266, -91.48633 29.630...
4   4   moosehead  POLYGON ((-69.92498 45.47786, -69.92498 45.881...

In [5]:
df2.head()

   id       name                                           geometry
0   0  alaska_00  POLYGON ((-149.57956 64.48595, -149.57956 64.9...
1   1  alaska_01  POLYGON ((-152.77646 64.86391, -152.77646 65.5...
2   2  alaska_02  POLYGON ((-162.28725 64.29211, -162.28725 65.1...
3   3  alaska_03  POLYGON ((-160.19150 63.04768, -160.19150 63.5...
4   4  alaska_04  POLYGON ((-152.45677 60.35534, -152.45677 61.2...

In [6]:
len(df1)

22

In [10]:
df = df1.append(df2, ignore_index=True)

In [15]:
df.drop(['id', 'name'], axis=1, inplace=True)

In [16]:
df

                                             geometry
0   POLYGON ((-120.29751 38.93464, -119.76223 40.1...
1   POLYGON ((-122.96488 46.92394, -122.96488 47.4...
2   POLYGON ((-148.43430 66.16969, -148.43430 66.4...
3   POLYGON ((-91.48633 29.44266, -91.48633 29.630...
4   POLYGON ((-69.92498 45.47786, -69.92498 45.881...
5   POLYGON ((-107.76851 47.55648, -107.76851 48.2...
6   POLYGON ((-96.03294 46.32023, -96.03294 46.632...
7   POLYGON ((-81.10025 25.45906, -81.10025 25.580...
8   POLYGON ((-116.87663 47.34146, -116.87663 47.6...
9   POLYGON ((-114.54829 47.57056, -114.54829 47.9...
10  POLYGON ((-88.39971 36.17987, -88.39971 36.739...
11  POLYGON ((-88.59990 44.53957, -88.59990 44.866...
12  POLYGON ((-97.03932 39.09435, -97.03932 39.327...
13  POLYGON ((-112.72352 42.94586, -112.72352 43.1...
14  POLYGON ((-103.95509 35.21399, -103.95509 35.4...
15  POLYGON ((-101.30706 29.37527, -101.30706 29.6...
16  POLYGON ((-97.52742 27.63812, -97.52742 27.949...
17  POLYGON ((-91.26909 33.61887, -91.26909 34.264...
18  POLYGON ((-87.38308 34.50404, -87.38308 34.891...
19  POLYGON ((-107.04196 42.23164, -107.04196 42.5...
20  POLYGON ((-110.50946 32.97230, -110.50946 33.4...
21  POLYGON ((-104.31075 40.21833, -104.31075 40.4...
22  POLYGON ((-149.57956 64.48595, -149.57956 64.9...
23  POLYGON ((-152.77646 64.86391, -152.77646 65.5...
24  POLYGON ((-162.28725 64.29211, -162.28725 65.1...
25  POLYGON ((-160.19150 63.04768, -160.19150 63.5...
26  POLYGON ((-152.45677 60.35534, -152.45677 61.2...
27  POLYGON ((-149.91701 61.05058, -149.91701 61.6...
28  POLYGON ((-155.04981 59.38818, -155.04981 60.1...
29  POLYGON ((-159.46332 59.52807, -159.46332 60.4...
30  POLYGON ((-162.01196 60.60475, -162.01196 61.2...
31  POLYGON ((-162.24285 65.88867, -162.24285 66.4...
32  POLYGON ((-160.45791 66.22384, -160.45791 66.6...
33  POLYGON ((-101.18199 44.21519, -101.18199 45.1...
34  POLYGON ((-103.32315 47.36002, -103.32315 48.5...
35  POLYGON ((-103.50943 37.83079, -103.50943 38.3...
36  POLYGON ((-104.46093 31.86877, -104.46093 32.6...
37  POLYGON ((-93.62272 34.47325, -93.62272 34.784...
38  POLYGON ((-77.16587 39.73192, -77.16587 40.436...
39  POLYGON ((-73.75068 44.31180, -73.75068 44.757...
40  POLYGON ((-70.93908 43.97104, -70.93908 44.295...
41  POLYGON ((-72.28552 43.69207, -72.28552 43.887...
42  POLYGON ((-72.48916 43.07288, -72.48916 43.287...
43  POLYGON ((-71.88921 44.20225, -71.88921 44.430...

In [17]:
df.to_json('/Users/karthikv/Desktop/workspace/my-repositories/rfs-and-cnns/data/shapefiles/training_data/training_scenes.geojson')

ValueError: Unknown na method /Users/karthikv/Desktop/workspace/my-repositories/rfs-and-cnns/data/shapefiles/training_data/training_scenes.geojson

In [18]:
type(df)

geopandas.geodataframe.GeoDataFrame

In [19]:
df.to_file('/Users/karthikv/Desktop/workspace/my-repositories/rfs-and-cnns/data/shapefiles/training_data/training_scenes.geojson', driver='GeoJSON')